.App{
    text-align: center;
    font-size: 35px;
    margin-top: 20%;
}

.App-title{
    font-family: sans-serif;
}

.Deadline-input{
    font-size: 25px;
    margin: 5px;
}

.Input-group{
    justify-content: center;
}